---
---

<html>
  <head>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
body {
  background-image: url("https://img.freepik.com/premium-photo/close-up-top-view-brown-cork-board-background_85778-71.jpg");
}
</style>